* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    ;
}

.header {
    background-color: lightgrey;
    top: 0;
    height: 190px;
    /*width: 1350px;*/
    display: flex;
}

header nav ul li {
    padding: 10px;
}

.nav_ul-iconos {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /*margin-left: 400px;*/
    margin-top: 70px;
}

.nav_ul-iconos a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px;
}

a:hover {
    color: grey;
}

.body_index {
    overflow-x: hidden;
}

.main_div-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_div-titulo h1 {
    font-family: 'Girassol', cursiva;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    /*ANIMACION MAQUINA DE ESCRIBIR ADAPTADA A MI DISEÑO*/
    width: 22ch;
    animation: typing 2s steps(22), parpadeo .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    /*border-right: 3px solid;*/
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes parpadeo {
  50% {
    border-color: transparent
  }
}

.iconosUx {
    width: 700px;
    height: auto;
    margin: auto;
    /*ver porque con el flex 
    solo se centra sin que le ponga justify content*/
    display: flex;
}

.logo {
    margin-left: 35px;
    position: relative;
    bottom: -95px;
}


footer div h3 {
    text-align: center;
    margin-top: 20px;
}

/* PARA CENTRAR ICONOS*/
.fooLogosRedes{
    display: flex;
    justify-content: center;
}

/*PARA SEPARAR ICONOS ENTRE ELLOS*/
.footer_icono {
    margin: 20px;
    padding: 20px;
}

.animacionLK {
    height: 100px;
    width: auto;
    transition: height 0.5s;
}
.animacionLK:hover{
    height: 120px;
    width: auto;
}

.animacionIG{
    height: 100px;
    width: auto;
    transition: height 0.5s;
}

.animacionIG:hover{
    height: 120px;
    width: auto;
}

.animacionBH{
    height: 100px;
    width: auto;
    transition: height 0.5s;
}

.animacionBH:hover{
    height: 120px;
    width: auto;
}

  /*  .backgroundGradient{
    background-image: linear-gradient(30deg, #70C1A7, #C8E7DD, #D5EDE5, white);
    }
    */


/*PESTAÑA CONTACTO*/

.main_contacto {
    margin-left: 2%;
}

.contacto_main-h3 {
    margin: 40px 0px 10px 0px;
}


/*MEDIA QUERIE MOBILE*/

@media only screen and (max-width: 768px) {
        .navLista ul{
            display: none;
        }

        .gridPadre_div-index {
            display: grid;
            grid-template-areas: 
            "header" 
            "main" 
            "footer";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto auto;
            grid-row-gap: 20%;
        }

        header{
            grid-area: header;
        }
        main{
            grid-area: main;
        }
        footer{
            grid-area: footer;
        }

        .header-grid{
            grid-template-areas:
            "divLogo navLista";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }
        .divLogo{
            grid-area: divLogo;
        }
        .navLista{
            grid-area: navLista;
        }

        .main-grid{
            display: grid;
            grid-template-areas:
            "main_div-titulo"
            "main_div-iconosUx"
            "main_div-botones";
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto;
        }

        .main_div-botones{
            grid-area: main_div-botones;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        footer div h3{
            display: none;
        }

        .botonMobileIndex{
            margin: 20px;
            width: 300px;
            height: 37px;
            background-color: #70C1A7;
        }

    }

/*MEDIA QUERIE DESKTOP*/

@media only screen and (min-width: 1024px) {
    .main_div-botones{
        display: none;
    }

    .gridPadre_div-index {
        display: grid;
        grid-template-areas: 
        "header" 
        "main" 
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto;
        /*grid-row-gap: 10%;*/
    }

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

 .header-grid{
            display: grid;
            grid-template-areas:
            "divLogo navLista";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }
                .divLogo{
            grid-area: divLogo;
        }
        .navLista{
            grid-area: navLista;
        }

    .main-grid{
        display: grid;
        grid-template-areas:
        "main_div-titulo"
        "main_div-iconosUx";
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    .footer-grid{
        display: grid;
        grid-template-areas: 
        "fooTitulo"
        "fooLogosRedes";
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .fooTitulo{
        grid-area: fooTitulo;
    }

    .fooLogosRedes{
        grid-area: fooLogosRedes;
    }
