@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.header {
  background-color: lightgrey;
  height: 190px; }

.headerPortafolio {
  background-color: lightgrey;
  height: 190px; }

header nav ul li {
  padding: 10px; }

.nav_ul-iconos {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 30px; }

.nav_ul-iconos a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 10px; }

/*PESTAÑA SERVICIOS COLOR FONDO MENU HAMBURGUESA*/
.bg-light {
  background-color: lightgrey !important; }

a:hover {
  color: grey; }

.body {
  overflow-x: hidden;
  background-image: linear-gradient(30deg, #70C1A7, #C8E7DD, #D5EDE5, white); }

/*CENTRAR TITULO PARA ANIMACION*/
.main_div-titulo {
  display: flex;
  align-items: center;
  justify-content: center; }

.main_div-titulo h1 {
  font-family: 'Girassol', cursiva;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  /*ANIMACION MAQUINA DE ESCRIBIR ADAPTADA A MI DISEÑO*/
  width: 22ch;
  animation: typing 2s steps(22), parpadeo 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  /*border-right: 3px solid;*/ }

@keyframes typing {
  from {
    width: 0; } }

@keyframes parpadeo {
  50% {
    border-color: transparent; } }

/*FIN ANIMACION MAQUINA DE ESCRIBIR*/
.logo {
  margin-left: 35px;
  position: relative;
  bottom: -82px; }

.subtitulos h3 {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px; }

.subtitulos {
  text-align: center; }

.subtitulosServicios h3 {
  border-radius: 10px;
  background-color: #70c1a7; }

.imgComuna {
  width: 200px;
  height: auto;
  padding-top: 25px; }

.logoFactor50 {
  width: 200px;
  height: auto;
  padding-top: 45px; }

.logoPeya {
  width: 200px;
  height: auto; }

/*VER PORQUE NO ANDA EL FONDO DEL FOOTER
.footer{
    background-image: url("..assets/img/fondoIconosVECTORIAL.png");
    background-size: cover;
}*/
footer div h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 25px; }

/* PARA CENTRAR ICONOS*/
.fooLogosRedes {
  display: flex;
  justify-content: center; }

.fooLogosRedesSinTitulo {
  margin-top: 50px; }

/*PARA SEPARAR ICONOS ENTRE ELLOS*/
.footer_icono {
  margin: 20px;
  padding: 20px; }

/*ANIMACIONES ICONOS REDES SOCIALES*/
.animacionLK {
  height: 100px;
  width: auto;
  transition: height 0.5s; }

.animacionLK:hover {
  height: 120px;
  width: auto; }

.animacionIG {
  height: 100px;
  width: auto;
  transition: height 0.5s; }

.animacionIG:hover {
  height: 120px;
  width: auto; }

.animacionBH {
  height: 100px;
  width: auto;
  transition: height 0.5s; }

.animacionBH:hover {
  height: 120px;
  width: auto; }

/*FIN ANIMACION ICONOS REDES SOCIALES*/
/*PESTAÑA CONTACTO*/
.main_contacto {
  margin-left: 2%; }

.contacto_main-h3 {
  margin: 40px 0px 10px 0px; }

.centrarImgUx {
  display: flex;
  justify-content: center; }

/*PESTAÑA SERVICIOS*/
.espaciosServicios {
  margin: 35px;
  display: flex;
  justify-content: space-around; }

/*MEDIA QUERIE MOBILE*/
@media only screen and (max-width: 768px) {
  /*IMPORTANTE PARA QUE NO SE ROMPA EL MOBILE*/
  .iconosUxDesktop {
    display: none; }
  .iconosUxMobile {
    width: 250px;
    height: auto; }
  /*FIN DEL IMPORTANTE*/
  .main_div-titulo h1 {
    font-size: 30px;
    padding-top: 50px; }
  .navLista ul {
    display: none; }
  .main_div-botones {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer div h3 {
    display: none; }
  .centrarBotones {
    display: flex;
    justify-content: center; }
  .botonMobileIndex {
    margin: 20px;
    width: 250px;
    height: 37px;
    background-color: #70C1A7; }
  /*BOX MODELING PORTAFOLIO PARA VISTA MOBILE*/
  .logo {
    margin-left: 8px;
    position: relative;
    bottom: -39px;
    width: 70px;
    height: auto; }
  /*UBICAR LOGO EN VISTA MOBILE PESTAÑA SERVICIOS*/
  .logoServicios {
    bottom: 5px; }
  .headerPortafolio {
    height: 100px; }
  .header {
    height: 100px; }
  .subtitulosPortafolio h3 {
    font-size: 20px;
    text-align: center; }
  .subtitulosPortafolio {
    display: flex;
    flex-direction: column;
    align-items: center; }
  /*FIN PESTAÑA SERVICIOS*/
  .fooLogosRedes {
    margin-top: 60px;
    background-color: #C8E7DD;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    border-radius: 25px; }
  .footer_icono {
    margin: 5px;
    padding: 5px;
    height: 60px;
    width: auto; }
  .imgComuna {
    width: 150px;
    height: auto; }
  .logoFactor50 {
    width: 150px;
    height: auto; }
  .logoPeya {
    width: 150px;
    height: auto; }
  /*PARA ALINEAR A LA DERECHA LA NAV EN MENU HAMB DE VISTA MOBILE*/
  .collapse {
    display: flex;
    justify-content: flex-end; } }

/*MEDIA QUERIE DESKTOP*/
@media only screen and (min-width: 1024px) {
  /*LINEA IMPORTANTE PARA QUE LOS BOTONES VERDES SOLO SE VEAN EN MOBILE*/
  .main_div-botones {
    display: none; }
  .iconosUxMobile {
    display: none; }
  .iconosUxDesktop {
    width: 600px;
    height: auto; }
  /*GRID DE PESTAÑA CONTACTO REEMPLAZAR POR BOOSTRAP*/
  .gridPadre_div-contacto {
    display: grid;
    grid-template-areas: "header"  "main";
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    background-image: linear-gradient(30deg, #70C1A7, #C8E7DD, #D5EDE5, white); }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  .main_contacto {
    display: grid;
    grid-template-areas: "main_div-titulo" "main_form-formularioMapa";
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-row-gap: 60px; }
  .main_div-titulo {
    grid-area: main_div-titulo; }
  .main_form-formularioMapa {
    grid-area: main_form-formularioMapa; }
  .main_form-formularioMapa {
    display: grid;
    grid-template-areas: "primerColumnaMain segundaColumnaMain";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto; }
  .primerColumnaMain {
    grid-area: primerColumnaMain; }
  .segundaColumnaMain {
    grid-area: segundaColumnaMain;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left; }
  .posicionSegColMain {
    display: flex;
    align-items: center;
    justify-content: center; }
  .iconosRedes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px; }
  /*FIN GRID PESTAÑA CONTACTO*/
  /*PARA ALINEAR A LA DERECHA LA NAV EN VISTA DESKTOP*/
  .navbar-collapse {
    display: flex;
    justify-content: flex-end; }
  .fooLogosRedes {
    background-color: #C8E7DD;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 25px; } }
