* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    ;
}

.header {
    background-color: lightgrey;
    top: 0;
    height: 190px;
    width: auto;
    display: flex;
}

.headerPortafolio{
    background-color: lightgrey;
    height: 190px;
}

header nav ul li {
    padding: 10px;
}

.nav_ul-iconos {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /*margin-left: 400px;*/
    margin-top: 70px;
}

.nav_ul-iconos a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px;
}

a:hover {
    color: grey;
}

.body_index {
    overflow-x: hidden;
}
/*CENTRAR TITULO PARA ANIMACION*/
.main_div-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_div-titulo h1 {
    font-family: 'Girassol', cursiva;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
/*ANIMACION MAQUINA DE ESCRIBIR ADAPTADA A MI DISEÑO*/
    width: 22ch;
    animation: typing 2s steps(22), parpadeo .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    /*border-right: 3px solid;*/
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes parpadeo {
  50% {
    border-color: transparent
  }
}
/*FIN ANIMACION MAQUINA DE ESCRIBIR*/
.iconosUx {
    width: 700px;
    height: auto;
    margin: auto;
    /*ver porque con el flex 
    solo se centra sin que le ponga justify content*/
    display: flex;
}

.logo {
    margin-left: 35px;
    position: relative;
    bottom: -95px;
}

.subtitulosPortafolio h3{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;

}

.imgComuna{
    width: 200px;
    height: auto;
    padding-top: 25px;
}

.logoFactor50{
    width: 200px;
    height: auto;
    padding-top: 45px;
}

.logoPeya{
    width: 200px;
    height: auto;

}

footer div h3 {
    text-align: center;
    margin-top: 20px;
}

/* PARA CENTRAR ICONOS*/
.fooLogosRedes{
    display: flex;
    justify-content: center;
}

/*PARA SEPARAR ICONOS ENTRE ELLOS*/
.footer_icono {
    margin: 20px;
    padding: 20px;
}
/*ANIMACIONES ICONOS REDES SOCIALES*/
.animacionLK {
    height: 100px;
    width: auto;
    transition: height 0.5s;
}
.animacionLK:hover{
    height: 120px;
    width: auto;
}

.animacionIG{
    height: 100px;
    width: auto;
    transition: height 0.5s;
}

.animacionIG:hover{
    height: 120px;
    width: auto;
}

.animacionBH{
    height: 100px;
    width: auto;
    transition: height 0.5s;
}

.animacionBH:hover{
    height: 120px;
    width: auto;
}
/*FIN ANIMACION ICONOS REDES SOCIALES*/

  /*  .backgroundGradient{
    background-image: linear-gradient(30deg, #70C1A7, #C8E7DD, #D5EDE5, white);
    }
    */

/*PESTAÑA CONTACTO*/

.main_contacto {
    margin-left: 2%;
}

.contacto_main-h3 {
    margin: 40px 0px 10px 0px;
}

/*MEDIA QUERIE MOBILE*/

@media only screen and (max-width: 768px) {

    .main_div-titulo h1{
        font-size: 35px;
    }

    .navLista ul{
        display: none;
    }

    .gridPadre_div-index {
        display: grid;
        grid-template-areas: 
        "header" 
        "main" 
        "footer";
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto auto;
        grid-row-gap: 20%;
    }

    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }

    .header-grid{
        grid-template-areas:
        "divLogo navLista";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    .divLogo{
        grid-area: divLogo;
    }
    .navLista{
        grid-area: navLista;
    }

    .main-grid{
        display: grid;
        grid-template-areas:
        "main_div-titulo"
        "main_div-iconosUx"
        "main_div-botones";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }

    .main_div-titulo{
        grid-area: main_div-titulo;
    }

    .main_div-iconosUx{
        grid-area: main_div-iconosUx;
    }

    .main_div-botones{
        grid-area: main_div-botones;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer div h3{
        display: none;
    }

    .botonMobileIndex{
        margin: 20px;
        width: 300px;
        height: 37px;
        background-color: #70C1A7;
    }

    /*BOX MODELING PORTAFOLIO PARA VISTA MOBILE*/

    .logo {
        margin-left: 8px;
        position: relative;
        bottom: -51px;
        width: 70px;
        height: auto;
    }

    .headerPortafolio {
        height: 100px;
    }

    .subtitulosPortafolio h3{
        font-size: 20px;
        text-align: center;
    }

    .subtitulosPortafolio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fooLogosRedes{
        margin-top: 60px;
    }

    .footer_icono {
        margin: 5px;
        padding: 5px;
        height: 60px;
        width: auto;
    }

    .imgComuna{
        width: 150px;
        height: auto;
    }

    .logoFactor50{
        width: 150px;
        height: auto;
    }

    .logoPeya{
        width: 150px;
        height: auto;
    }

}

/*MEDIA QUERIE DESKTOP*/

@media only screen and (min-width: 1024px) {
    .main_div-botones{
        display: none;
    }

    .gridPadre_div-index {
        display: grid;
        grid-template-areas: 
        "header" 
        "main" 
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        background-image: linear-gradient(30deg, #70C1A7, #C8E7DD, #D5EDE5, white);
        /*grid-row-gap: 10%;*/
    }

    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }

    .header-grid{
            display: grid;
            grid-template-areas:
            "divLogo navLista";
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
        }

        .divLogo{
            grid-area: divLogo;
        }

        .navLista{
            grid-area: navLista;
        }

    .main-grid{
        display: grid;
        grid-template-areas:
        "main_div-titulo"
        "main_div-iconosUx";
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    
        .main_div-titulo{
            grid-area: main_div-titulo;
        }

        .main_div-iconosUx{
            grid-area: main_div-iconosUx;
        }
    
    .footer-grid{
        display: grid;
        grid-template-areas: 
        "fooTitulo"
        "fooLogosRedes";
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    .fooTitulo{
        grid-area: fooTitulo;
    }

    .fooLogosRedes{
        grid-area: fooLogosRedes;
    }

    .gridPadre_div-contacto {
        display: grid;
        grid-template-areas: 
        "header" 
        "main";
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        background-image: linear-gradient(30deg, #70C1A7, #C8E7DD, #D5EDE5, white);
    }

    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }

    .main_contacto{
        display: grid;
        grid-template-areas:
        "main_div-titulo"
        "main_form-formularioMapa";
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-row-gap: 60px;
    }
    
        .main_div-titulo{
            grid-area: main_div-titulo;
        }

        .main_form-formularioMapa{
            grid-area: main_form-formularioMapa;
        }

    .main_form-formularioMapa{
        display: grid;
        grid-template-areas:
        "primerColumnaMain segundaColumnaMain";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    .primerColumnaMain{
        grid-area: primerColumnaMain;
    }

    .segundaColumnaMain{
        grid-area: segundaColumnaMain;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
    }

    .posicionSegColMain{
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .iconosRedes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        
    }

}