/*GRIDS PESTAÑA SOBRE MI*/

/*MEDIA QUERY DESKTOP*/
@media only screen and (min-width: 1024px) {
	.gridPadre_div-sobreMi{
		display: grid;
		grid-template-areas:
		"header"
		"main"
		"footer";
		grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
	}

	header{
		grid-area: header;
	}
	
	main{
		grid-area: main;
	}

	footer{
		grid-area: footer;
	}

	.mainGrid{
		display: grid;
		grid-template-areas:
		"mainGridTitulo mainGridTitulo mainGridTitulo"
		"mainGrid1 mainGrid2 mainGrid3";
        grid-column-gap: 80px;
        margin-left: 20px;
        margin-right: 20px;
	}

	.mainGridTitulo{
		grid-area: mainGridTitulo;
		margin-bottom: 50px;
	}

	.mainGrid1{
		grid-area: mainGrid1;
		display: flex;
		justify-content: map-get($alineacion,centrar);
		margin-left: 90px;
	}

	.fotoCV{
	width: 150px;
	height: auto;
	}

	.mainGrid2{
		grid-area: mainGrid2;
	}

	.mainGrid3{
		grid-area: mainGrid3;
	}

	.footerGrid{
		display: grid;
		grid-template-areas:
		"footerGrid1 footerGrid2 footerGrid3";
		grid-template-columns: 33% 34% 33%;
        grid-template-rows: auto;
        display: flex;
  		justify-content: map-get($alineacion,centrar);
	}

	.footerGrid1{
		grid-area: footerGrid1;
	}

	.footerGrid2{
		grid-area: footerGrid2;
	}

	.footerGrid3{
		grid-area: footerGrid3;
	}

}

/*BOX MODELING PESTAÑA SOBRE MI*/

.misEstudios{
	text-align: center;
}

@media only screen and (max-width:768px) {

	.parrafoMobile{
	font-size: 13px;
}

	.gridPadre_div-sobreMi{
		display: grid;
		grid-template-areas:
		"header"
		"main"
		"footer";
		grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
	}

	header{
		grid-area: header;
	}
	
	main{
		grid-area: main;
	}

	footer{
		grid-area: footer;
	}

	.headerGrid{
		display: grid;
		grid-template-areas:
		"headerGrid1";
		grid-template-columns: 100%;
        grid-template-rows: auto;
	}

	.mainGrid{
		display: grid;
		grid-template-areas:
		"mainGridTitulo mainGridTitulo"
		"mainGrid1 mainGrid2"
		"mainGrid3 mainGrid3";
		grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        margin-left: 20px;
        margin-right: 20px;

	}

	.mainGridTitulo{
		grid-area: mainGridTitulo;
		margin-bottom: 40px;
	}

	.mainGrid1{
		grid-area: mainGrid1;
	}

	.fotoCV{
	width: 130px;
	height: auto;
}

	.mainGrid2{
		grid-area: mainGrid2;
	}

	.mainGrid3{
		grid-area: mainGrid3;
	}
}

