/*COLORES*/
$colorPrincipal: #70C1A7;
$colorSecundario: lightgrey;
$colorTerciario: #bae2d3;

/*TIPOGRAFIAS*/
$tipografiaPrimaria: 'Girassol', cursiva;
$tipografiaSecundaria: 'Roboto', sans-serif;

/*MAPS*/

$alineacion:(
  justificadoDer: flex-end,
  centrar: center,
  posicion: relative
  );
