<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacto</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body>
    <header class="header">
        <div>
            <!-- LOGO -->
            <img src="../assets/img/logoPortfolioColor-05.png" alt="miLogo" class="logo">
        </div>
        <nav>
            <!-- LISTA NO ORDENADA DEL MENU PRINCIPAL DEL SITIO WEB -->
            <ul class="nav_ul-iconos">
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="portafolio.html">PORTAFOLIO</a></li>
                <li><a href="sobreMi.html">SOBRE MÍ</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main class="main_contacto">
        <div class="main_div-titulo">
            <h1>CONTACTO</h1>
        </div>
        <!-- CREAR FORMULARIO DE CONTACTO -->
        <form action="#">
            <label for="nombre">Nombre:
                <input type="text" name="nombre">
            </label><br>
            <label for="apellido">Apellido:
                <input type="text" name="apellido">
            </label><br>
            <label for="telefono">Teléfono:
                <input type="number" name="telefono">
            </label><br><br>
            <div>
                COMENTARIOS:
            </div>
            <div>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="ENVIAR">
            <input type="reset" value="LIMPIAR">
        </form>
        <div>
            <h3 class="contacto_main-h3">DONDE ESTOY:</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26786.829456175423!2d-60.663398400000034!3d-32.9416704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab5cad3c4ddb%3A0x87fbd2e601a79b99!2sRiccheri%201033%2C%20S2002QME%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1643308141380!5m2!1ses-419!2sar"
                width="400" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </main>
    <footer class="footer">
        <div>
            <h3>REDES SOCIALES</h3>
            <!-- VER COMO ERA PARA LINKEAR REDES SOCIALES -->
            <a href=""><img src="../assets/img/logoLinkedinModif.png" alt="linkedIn" class="footer_icono"></a>
            <a href=""><img src="../assets/img/logoInstagramModif.png" alt="instagram" class="footer_icono"></a>
            <a href=""><img src="../assets/img/logoBehanceModif.png" alt="behance" class="footer_icono"></a>
        </div>
    </footer>
</body>

</html>