<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="KEYWORDS" content="ux ui usuario experiencia diseño rediseño freelancer servicios contratar marca mejorar web app aplicacion mobile">
    <meta name="DESCRIPTION" content="página con la descripción de los servicios que ofrezco">
    <title>servicios ofrecidos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
</head>

<body class="body">
    <div class="container-fluid px-0">
            <header class="header"> 
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#"><img src="../assets/img/logoPortfolioColor-05.png" alt="miLogo" class="logo"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav nav_ul-iconos">
                            <li><a href="../index.html">INICIO</a></li>
                            <li><a href="#">SERVICIOS</a></li>
                            <li><a href="portafolio.html">PORTAFOLIO</a></li>
                            <li><a href="sobreMi.html">SOBRE MÍ</a></li>
                            <li><a href="contacto.html">CONTACTO</a></li>
                          </ul>
                        </div>
                        </nav>
                    </div>
                </div>
            </header>
        <main>
            <div class="main_div-titulo">
                <h1>SERVICIOS</h1>
            </div>
            <div class="row espaciosServicios">
                <div class="col-lg-2 col-12">
                    <!-- margen izq -->
                </div>
                <div class="col-lg-2 col-12 subtitulos subtitulosServicios">
                    <h3>Diseño UX</h3>
                    <p>Se realiza una exaustiva investigación para trasladar y plasmar luego al diseño o rediseño de tu producto/servicio siempre buscando el enfoque de mejorar la experiencia del usuario</p>
                </div>
                <div class="col-lg-1 col-12">
                    <!-- 1° espacio interno -->
                </div>
                <div class="col-lg-2 col-12 subtitulos subtitulosServicios">
                    <h3>Prototipado UI</h3>
                    <p>Se realiza la investigación y creación de todas las pantallas de tu producto/servicio siempre manteniendo la estetica, flujo y estandares necesarios para que la experiencia de uso del usuario sea la mejor</p>
                </div>
                <div class="col-lg-1 col-12">
                    <!-- 2° espacio interno -->
                </div>
                <div class="col-lg-2 col-12 subtitulos subtitulosServicios">
                    <h3>Desarrollo UX/UI</h3>
                    <p>Se realiza el maquetado web teniendo presentes el diseño y la interfaz establecidos previamente en UX/UI</p>
                </div>
                <div class="col-lg-2 col-12">
                    <!-- margen derecho -->
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="fooLogosRedes fooLogosRedesSinTitulo">
                    <!-- VER COMO ERA PARA LINKEAR REDES SOCIALES -->
                    <a href=" "><img src="../assets/img/logoLinkedinModif.png" alt="linkedIn " class="footer_icono animacionLK"></a>
                    <a href=" "><img src="../assets/img/logoInstagramModif.png" alt="instagram " class="footer_icono animacionIG"></a>
                    <a href=" "><img src="../assets/img/logoBehanceModif.png" alt="behance " class="footer_icono animacionBH"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>

</html>